@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.forge-viewer {
  top: 0px !important;
  position: fixed;
  width: 100vw !important;
  height: 100% !important;
  z-index: 0;
}