* {
  box-sizing: border-box;
  border: 0;
  margin: 0 !important;
  padding: 0;
}

.ql-cursor-selections .ql-cursor-selection-block {
  background-color: var(--presence-color) !important;
  opacity: 0.4;
}

.ql-cursor-caret-container .ql-cursor-caret {
  background-color: var(--presence-color) !important;
}

.ql-cursor-flag {
  background-color: var(--presence-color) !important;
  color: var(--sv-text-color) !important;
}
